.navbar{
    height: 6.4rem;
    width: 100%;
    background: #232323;
    color: white;
    ul{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0 6.4rem;
        height: 100%;
        font-size: 3.5rem;
        font-weight: 700;
    }
}
.main{
    padding: 2rem 6.4rem;
}